# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


#Angular
# compiled output
by-coders-finance/dist
by-coders-finance/tmp
by-coders-finance/out-tsc
# Only exists if Bazel was run
by-coders-finance/bazel-out

# dependencies 
by-coders-finance/node_modules

# profiling files
by-coders-finance/chrome-profiler-events*.json

# IDEs and editors
by-coders-finance/.idea
by-coders-finance/.project
by-coders-finance/.classpath
by-coders-finance/.c9/
by-coders-finance/launch
by-coders-finance/.settings/
by-coders-finance/*.sublime-workspace

# IDE - VSCode
by-coders-finance/.vscode/*
by-coders-finance/!.vscode/settings.json
by-coders-finance/!.vscode/tasks.json
by-coders-finance/!.vscode/launch.json
by-coders-finance/!.vscode/extensions.json
by-coders-finance/.history/*

# misc
by-coders-finance/.sass-cache
by-coders-finance/connect.lock
by-coders-finance/coverage
by-coders-finance/libpeerconnection.log
by-coders-finance/npm-debug.log
by-coders-finance/yarn-error.log
by-coders-finance/testem.log
by-coders-finance/typings

# System Files
by-coders-finance/.DS_Store
by-coders-finance/Thumbs.db
